.icon {
    display: inline-block;
    fill: currentColor;
    height: 0.9em;
    width: 0.9em;
    path {
        fill: inherit;
    }
    // Vertically align icon with adjacent text
    vertical-align: middle;
    // Align more nicely with capital letters
    position: relative;
    top: -0.15em;
}

.icon-list {
    list-style-type: none;
    margin-left: 1em;
    .icon {
        margin-right: $inline-icon-margin;
    }
}

.icon-list-size-sm{
  font-size: 0.8em;
}

.icon-list-size-md{
  font-size: 1.2em;
}

.icon-list-size-lg{
  font-size: 1.6em;
}

.icon-list-size-xl{
  font-size: 2.2em;
}

.icon-list-size-xxl{
  font-size: 2.6em;
}

.icon-list-section-ul{
  margin: 0px;
  list-style: none;
}

