
.hero {
  .cat-link {
    margin-right: get-size(1);
    &:last-of-type {
      margin-right: 0;
    }
  }
  .entry-meta-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .entry-meta {
    margin-top: get-size(2);
    text-align: center;
    border-top: 1px solid rgba(get-color(neutral,000),0.1);
    padding-top: get-size(0.5);
    &, & a {
      color: get-color(neutral,000) !important;
    }
    //font-size: font-size('size-m1');
//    font-family: $font-secondary;
    &>*:last-of-type {
      margin-right: 0;
    }
  }
  .reading-time, .posted-on, .byline, .cat-links {
    display: inline-block;
    margin-bottom: get-size(0.25);
    margin-right: get-size(1);
  }
  .reading-time {
    margin-right: 0;
  }
  .entry-meta .icon {
    color: get-color(neutral);
  }
  &.overlay-white {
    .entry-meta {
      border-top-color: rgba(get-color(neutral,700), 0.4);
      &, & a {
        color: $color-text !important;
      }
    }
  }
  &.overlay-dark {
    &.overlay-opacity-0, &.overlay-opacity-10, &.overlay-opacity-20, &.overlay-opacity-30, &.overlay-opacity-40 {
      .entry-meta .icon {
        color: get-color(neutral,200);
      }
    }
  }
}
