// Header
@include above(md){
  .center-logo{
    text-align: center;
    display: block !important;
  }

  .center-menu{
      margin: auto;
      flex: none !important;
  }

  .center-brand{
    width: 100%;
    margin: auto;
    display: block !important;
  }
}
